<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- jQuery -->
    <!-- <script src="jquery-1.7.2.min.js"></script> -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/Chart.js/Chart.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script> 
    <script src="SQLitePlugin.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/angles.js"></script>

    <!-- HighChart -->
    <script src="http://code.highcharts.com/adapters/standalone-framework.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://rawgit.com/pablojim/highcharts-ng/master/src/highcharts-ng.js"></script>
    <script src="http://code.highcharts.com/highcharts-3d.js"></script>
    <!-- <script src="http://code.highcharts.com/stock/highstock.src.js"></script> -->

    
  

  </head>
  <body ng-app="starter">
    <ion-nav-view></ion-nav-view>

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content>
      <h1>{{ texto }}</h1>

      <button ng-click="clicando()" class="button button-block button-positive" value="teste">Teste de Click</button>

      <button ng-click="selectAll()" class="button button-positive" >Resultado</button>

      <h2>Resultados: </h2>
        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="r in resultado" type="item-text-wrap">
            
            <p>{{ r.firstname }}</p>
            <p>{{ r.lastname }}</p>
                        
          </ion-item>
        </ion-list> 
      
      </ion-content>
    </ion-pane>
  </body>
</html>
